*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir Next,Muli,sans-serif;
}

html{
    /* background-color: gray; */
}
body{
    margin: 10px;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 0.9rem;
}
span{
    text-align:justify;
    font-size: 1rem;
    display: inline-block;
}

.laboral_container span{
    margin-bottom: 20px;
}

li{
    list-style:square;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.my_info_container{
    width: 100%;
    /* height: 15vh; */
    background-color: #cddafd;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.photo_container{
    width: 25%;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.photo_container picture{
    width: fit-content;
    height: 100%;
}

.photo{
    width: 100px;
    height: 100px;
    border-radius:100%;
    background-color: black;
}
.head_experience{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.exp_img{
    max-width: 50px;
    min-width: 50px;
    width: 20%;
    
}
.exp_text_header{
    width: 80%;
}

.name_container{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_container h1{
    text-align: center;
    font-size: 1.5rem;
    margin-left: 10px;
    
}

.margin_5px{
    margin: 5px;
    border: 5px;
}

.desc_container{
    margin: 5px;
}

.tech_list ul, .skills_list ul{
    margin-left: 20px;
    margin-bottom: 10px;
}

.width_100{
    width: 100%;
}
.principal{
    background-color: #bee1e6;
}

.projects_container_width{
    background-color: #fde2e4;
}
.card_main{
border: solid 1px #005f73;
background-color: #dfe7fd;
box-shadow: 5px 10px 5px  #acacac;
}

@media (min-width:700px){
    main{
        display: flex;
        justify-content: center;
    }
    .main_container{
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1500px;
        justify-content: center;
    }

    .left_margin{
        padding-left: 30px;
    }

    .projects_container_width{
        max-width: 1500px;
        margin: 23px;
        margin-top: 10px;
    }

    .principal{
        margin-left: 10px;
    }
    .my_info_container{
        width: 35%;
        height: auto;
        display: initial; /* PENDIENTE POR AJUSTAR */
    }
    .name_container{
        height: auto;
    }
    .name_container h1{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .width_100_media{
        width: auto;
    }
    .photo_container{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .name_container{
        width: 100%;
        margin-bottom: 10px;
    }
    .principal{
        width: 61%;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: 100%;
    }
    .laboral_container{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: 100%;

    }

    .projects_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly ;
        margin-bottom: 25px;
    }

    .card_main{
        min-width: 300px;
        max-width: 400px;
        height: 250px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }

}